#container-master {
    display: flex;
    height: 100vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    margin: auto;
}

.login-form input {
    padding: 5px
}

@media (max-width: 1000px) {
    .login-form {
        margin: auto;
        width: 60vw;
    }

    .login-form h1 {
        font-size: 5rem;
    }
}

@media (min-width: 1000px) {
    .login-form {
        width: fit-content;
        padding: 25px;
    }
}